@using AuctionApp.Models.Database
@model AuctionApp.Models.Database.Auction
@{
         var bidable = false;
            if(User.IsInRole("User")) bidable = true;
            TimeSpan span;
            if(Model.state == "OPEN")
                span = Model.dateExpire.Subtract ( DateTime.Now ); 
            else
                span = Model.dateOpen.Subtract ( DateTime.Now ); 
            var row = "row" + Model.id;
            var seconds = span.Seconds;
            var minutes = span.Minutes; 
            var hours = span.Hours; 
            var disabled="";
            var days = span.Days;
            hours += days*24;
            var timeLeft = "timeLeft" + Model.id;
}



<div class="row">
    @{var base64Data = Convert.ToBase64String ( Model.image );
    var price = Model.startPrice+Model.bidAmount;}   
    <div class="card">
            <input asp-for="rowVersion" id="@row" type='hidden' >
            <div class = "card-header"><a asp-controller = "Auction" asp-action="Details" asp-route-id='@Model.id'>@Model.name</a></div>
            <div class = "card-body text-center">
                <img src="data:image/png;base64,@base64Data" style="width:180px;height:180px"/>
  
                @if(Model.state == "EXPIRED"){
                    <h5 class='text-center'>EXPIRED</h5>
                }else if(Model.state == "SOLD")
                {
                    <h5 class='text-center'>SOLD</h5>
                }else{
                    <h5 class='text-center' id='timeLeft'>XX:XX:XX</h5>
                }
                <div class='text-center'>
                $@Model.startPrice + @Model.bidAmount
                <hr>
                Last bid: @Model.lastBidder
                </div>
            </div>
                <div class='card-footer text-center'>
                    @if(Model.state == "OPEN"){
                        @if(!bidable) disabled = "disabled";
                     <button class='btn btn-outline-success' onclick = "bid(@Model.id)" @disabled> BID </button>
                }
                else
                {
                    <button class='btn btn-outline-secondary' disabled> @Model.state </button>
                }
                </div>
    </div>
    @* <div class="col-xl-8" id ="licitations">

    </div> *@
</div>


<script>
      var hrs = parseInt(JSON.parse('@Html.Raw(Json.Serialize(hours))'));
        var mins = parseInt(JSON.parse('@Html.Raw(Json.Serialize(minutes))'));
        var secs = parseInt(JSON.parse('@Html.Raw(Json.Serialize(seconds))'));
        var elem = "#timeLeft";
        countdown(elem,hrs,mins,secs);
    var id = parseInt(JSON.parse('@Html.Raw(Json.Serialize(Model.id))'));
    @* $("document").ready(function(){
       
         $.ajax ({
        type: "GET",
        url: "/Auction/getLicitations?id=" + id,
        dataType: "text",
        success: function ( response ) {
                    $("#licitations").html ( response )
        },
        error: function ( response ) {
            alert ( response )
        }
    })}) *@
</script>